body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(167, 142, 104);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    color: brown;
    text-align: left;
    border: none;
    outline: none;
    background-color: beige;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: chocolate;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(255, 130, 40);
}

button:active{
    background-color: rgb(255, 149, 73);
}

.operator-btn{
    background-color: rgb(107, 80, 61);
}