body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 70%, 65%);
}
#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 77%, 14%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 77%, 14%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startButton{
    background-color: rgb(15, 226, 103);
}
#startButton:hover{
    background-color: rgb(4, 129, 56);
}
#stopButton{
    background-color: rgb(226, 15, 15);
}
#stopButton:hover{
    background-color: rgb(122, 9, 9);
}
#resetButton{
    background-color: rgb(54, 15, 226);
}
#resetButton:hover{
    background-color: rgb(33, 9, 139);
}