body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(165, 196, 223);
}
h1{
    color: rgb(202, 28, 135);
}
form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(202, 28, 135);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(202, 28, 135);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(202, 28, 135);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(105, 14, 70);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}